{% extends "ecoliste/base.html" %}

{% block title %}{{ enterprise.name }} | BTP écoliste{% endblock title %}
{% block link_ressources %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'ecoliste/scripts/addresses_map.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="rows content">
        <div class="row-half columns">
            {% include "ecoliste/enterprise/identity.html" %}
            {% include "ecoliste/enterprise/materials.html" %}
        </div>
        <div class="row-half columns">
            {% include "ecoliste/enterprise/addresses.html" %}
            {% include "ecoliste/enterprise/contacts.html" %}
        </div>
    </div>
{% endblock content %}