{% extends "ecoliste/base.html" %}

{% block title %}{{ enterprise.name }} | BTP écoliste{% endblock title %}

{% block content %}
    <div class="rows content">
        <div class="row-half columns">
            {% include "ecoliste/enterprise/identity.html" %}
            {% include "ecoliste/enterprise/materials.html" %}
        </div>
        <div class="row-half columns">
            {% include "ecoliste/enterprise/addresses.html" %}
            {% include "ecoliste/enterprise/contacts.html" %}
        </div>
    </div>
{% endblock content %}