@use "sass:color"

$font-stack: "Fira Sans", "Source Sans", sans-serif

$color-primary: #13660c
$color-grey: #777777
$color-blue: #21A1ED
$color-link: $color-blue
$color-secondary: #580E5F
$color-black: #000000
$color-white: #FFFFFF
$color-background: $color-white
$color-text: #282525

$width-content: 1620px
$width-header: $width-content - 200

$border-color: color.adjust($color-grey, $alpha: -0.3%)
$border-style: 1px solid $border-color
$box-shadow-style: 0 0.5rem 1rem -0.2rem $border-color

@mixin fullhd
  @media (min-width: 1620px)
    @content

// Base
html
  font-size: 10px
  font-family: $font-stack
  background-color: $color-background
  color: $color-text
  line-height: 1.4

body
  display: flex
  flex-flow: column
  min-height: 100vh
  margin: 0
  font-size: 1.6rem


// Header style
header
  background-color: $color-primary
  color: $color-white
  margin: 0

.site-menu
  display: flex
  list-style: none
  flex-flow: row wrap
  font-weight: bold
  margin: 0 auto
  align-items: flex-end
  font-size: 1.9rem
  @include fullhd
    width: $width-header

  li
    padding: 15px 25px

  li:hover
    background-color: color.adjust($color-primary, $lightness: +5%)

  a
    color: inherit

.site-title
  color: inherit
  margin-right: auto
  font-size: 3rem

h1
  text-align: center

a
  text-decoration: none
  color: $color-link

// Footer styles
footer
  background-color: $color-primary
  color: $color-white
  display: flex
  flex-flow: column
  font-size: 1.4rem
  text-align: center
  padding: 0

  nav
    @media (min-width: 1620px)
      width: $width-header
      margin: 0 auto
    padding: 0

    ul
      display: flex
      flex-flow: row wrap
      list-style: none
      justify-content: space-around
      padding: 0
      margin: 0

      a
        flex: 1
        color: inherit
        padding: 5px
      a:hover
        background-color: color.adjust($color-primary, $lightness: +5%)


  p
    margin: 0 auto

// Content styles
.content
  flex: max-content
  @include fullhd
    width: $width-content
    margin: 0 auto

.rows
  display: flex
  flex-flow: column

.row-half
  flex: 1

.columns
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.column-half
  flex: 1 400px
  padding: 5px

// Identity styles
#identity
  ul
    line-height: 1.8
    list-style: none

// Addresses style
.addresses-list
  list-style: none
  padding: 0
  border: $border-style
  border-radius: 5px
  box-shadow: $box-shadow-style

  li
    padding: 5px
    border-bottom: $border-style

  li:last-of-type
     border-bottom: none

  .is-production
    margin-right: 5px

#addresses-map
  height: 400px

// Materials style
.materials-list
  list-style: none
  padding: 0
  li
    border-bottom: $border-style
    font-size: 1.8rem
    span
      margin-right: 5px
    ul
      list-style: none
      li:last-of-type
        border-bottom: none
  li:first-of-type
    border-top: $border-style

  .materials-addresses
    display: none

  .materials-biobased
    display: none

  .is-production
    margin-left: 5px

// Contacts style
.contacts-list
  list-style: none
  display: flex
  flex-flow: wrap
  text-align: justify
  padding: 8px

  li
    flex: 1 300px
    border: $border-style
    box-shadow: $box-shadow-style
    border-radius: 15px
    margin: 10px

    ul
      flex-flow: column
      border: none
      li
        flex: initial
        border: none
        box-shadow: none
        margin: 2px 0
        span
          margin-right: 5px
  .phone
    display: flex
    justify-content: space-between
    padding-right: 15px

  .names
    font-weight: bold