<section id="identity" class="column-half">
    <h1>Fiche d'identité</h1>
    <ul>
        {# Just so I remember : autoformatting might add carriage returns / spaces which then can fail the tests for empty enterprise #}
        <li>Nom : {{ enterprise.name }}</li>
        <li>Site internet : {% if enterprise.website %}
            <a href="{{ enterprise.website }}">{{ enterprise.website }}</a>{% else %}Aucun site web indiqué{% endif %}
        </li>
        <li>Description :
            {% if enterprise.description %}{{ enterprise.description }}{% else %}Pas de description{% endif %}</li>
        <li>Chiffre d'affaires :
            {% if enterprise.annual_sales %}{{ enterprise.get_annual_sales_display }}{% else %}
                Chiffre d'affaires inconnu
            {% endif %}</li>
        <li>Nombre d'employés :
            {% if enterprise.n_employees %}{{ enterprise.get_n_employees_display }}{% else %}
                Nombre d'employés inconnu
            {% endif %}</li>
        <li>Créée : {{ enterprise.added }}</li>
        <li>Modifiée : {{ enterprise.updated }}</li>
    </ul>
</section>